@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/NotoSansKR/NotoSans-Thin.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSans-Thin.woff) format('woff');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/NotoSansKR/NotoSans-Light.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSans-Light.woff) format('woff');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/NotoSansKR/NotoSans-DemiLight.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSans-DemiLight.woff) format('woff');
}

@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 350;
  font-display: swap;
  src: url(../fonts/NotoSansKR/NotoSans-Regular.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSans-Regular.woff) format('woff');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 450;
  font-display: swap;
  src: url(../fonts/NotoSansKR/NotoSans-Medium.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSans-Medium.woff) format('woff');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 550;
  font-display: swap;
  src: url(../fonts/NotoSansKR/NotoSans-Bold.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSans-Bold.woff) format('woff');
}
@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/NotoSansKR/NotoSans-Black.woff2) format('woff2');
  src: url(../fonts/NotoSansKR/NotoSans-Black.woff) format('woff');
}
