/*
|----------------------------------|
 v.0.1 최초 공통화 작업
 v.0.2 list-grid-thumbnail-board > item (border-radius 수정) > text_box (padding 수정) / .heart 위치 변경 (TP2-962) - 박선미
 v.0.3 border:0.5px -> 1px - 한서수
 v.0.4 pc- list-grid-thumbnail > item (margin 8.67px -> 8.66px 수정) ie작업 - 박선미
 v.0.5 pc - .list-grid-thumbnail-board -> cate  min-height:20px; 한성수
|----------------------------------|
*/


/* 내부 디자인 가로 전체 878기준 width100% 계산식 */
@function responsive_width($width){
    $all_width: 878;
    @return $width/$all_width*100%;
};
/* 1단형(기본구성 : 1단 + 사각형) */
.list-grid{
    &:after {display:block; content:""; clear:both;}
    .item {float:left; width:100%; margin-bottom:20px;
        &:last-child{margin-right:0px;}
        .link {width:100%; display:block;}
        .img {
            display:block; width:100%;
            /*border-radius: 10px;*/ text-align:center; overflow: hidden; position:relative; display:inline-block;
            &>img{width:100%; height:100%; }
        }
        .title {display:block; margin-top:10px;}
        .subtitle {display:block; margin-top:10px;}
        .cate {display:block; margin-top:10px;}
    }

    /*
    |--------------------|
    |      썸네일 타이포
    |--------------------|
    */
    /* 타이틀 */
    .text_type01 {
        font-family: $font-family-base;
        font-size: 14px;
        /*font-weight:$font-weight-bold;*/
        line-height: 21px;
        color: #000000;
    }

    /* 서브타이틀 */
    .text_type02 {
        font-family: $font-family-base;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.28px;
        color: #727272;
    }

    /* 카테고리 */
    .text_type03 {
        font-family: $font-family-base;
        font-size: 14px;
        font-weight:$font-weight-bold;
        line-height: 24px;
        text-align: left;
        color: $primary;
    }

    /* 날짜 */
    .text_type04 {
        font-family: $font-family-base;
        font-size: 12px;
        line-height: 20px;
        text-align: left;
        color: #727272;
    }
}

/* 3단형 */
.list-grid-3 {
    .item {float:left; width:responsive_width(270); margin-right:responsive_width(34);
     /*   &:last-child{margin-right:0px;}*/
      &:nth-of-type(3n){
        margin-right: 0;
      }
        .link {width:100%; display:block;}
        // .img {max-width:270px; margin:0 auto;}
    }
}

/* 4단형 */
.list-grid-4 {
    .item {float:left; width:responsive_width(198); margin-right:responsive_width(28);
        &:last-child{margin-right:0px;}
        .link {width:100%; display:block;
            // .img {max-width:198px; margin:0 auto;}
        }
    }
}

/* 5단형 */
.list-grid-5 {
    .item {float:left; width:responsive_width(140); margin-right: responsive_width(44.5); text-align:center;
        &:last-child {margin-right:0px;}
        .link {width:100%;display:block;}
        // .img {max-width:140px; margin:0 auto;}
    }
}

/* 4열(베이직) */
.list-grid-thumbnail{
    margin:-15px 0px;
    .item {float:left; width:237px; margin:15px 8.66px; /*border-radius: 10px; border:solid 0.5px #e4e4e4;*/
      background: #fff;
        &:first-of-type{margin-left:0px;}
        &:last-of-type{margin-right:0px;}
        .link {width:100%; display:block;
            .img {
                // max-width:204px;
                height:155px;
                border-bottom-left-radius: 0px;  border-bottom-right-radius: 0px; text-align:center; overflow: hidden;
                &>img{width:100%; height:100%; }
            }
            .title {padding:20px 15/204*100%;}
            .info {border-top:1px solid #e4e4e4; margin:0px 15/204*100%; padding:10px 0px; position:relative;
                .date {float:left; width:90%;}
                .type {float:right; width:10%; line-height:20px; position:absolute; top:50%; right:0; transform:translateY(-50%); text-align:right;}
                /*.naver {
                    &>img {width:11px; height:11px; }
                }
                .youtube {
                    &>img {width:16px; height:11px; }
                }
                .instagram {
                    &>img {width:12px; height:12px; }
                }*/
            }
        }
    }
}

/* 4열(게시판형) */
.list-grid-thumbnail-board{
    margin:-15px responsive_width(-10) 0;
    .item {float:left; width:responsive_width(199.5); margin:15px responsive_width(10); border-radius: 6px; border:1px solid #e4e4e4; position:relative;
        &:last-child{margin-right:0px;}
        .link {width:100%; display:block;
            .img {
                // max-width:204px;
               height: 135px;
               display: block;
                border-radius:5px;
                border-bottom-left-radius: 0px;  border-bottom-right-radius: 0px; text-align:center; overflow: hidden;
                &>img{width:100%; height:100%; }
            }
            .text_box {display:block; padding:15px;background-color: #fff; border-radius: 6px; border-top-left-radius: 0px;  border-top-right-radius: 0px;
                .cate {font-size:13px; color:#418ac9; font-weight:$font-weight-bold; letter-spacing: -0.025em; margin-top:0px; margin-bottom:5px; display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; min-height:20px;}
            }
            .title {margin-bottom:8px; font-size:15px; font-weight:$font-weight-light; margin-top:0px; min-height:44px; max-height:44px; overflow:hidden;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;}
            .cate {font-size:13px; color:#418ac9; font-weight:$font-weight-bold; letter-spacing: -0.025em; margin-top:0px; margin-bottom:5px; display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; min-height:20px;}
            .ico_new{width:30px;height:15px;display:inline-block; margin-left:4px;}
            .author_box {margin-bottom:10px; }
            .author {max-width:80%; color:#666666; font-size:14px; font-weight:$font-weight-light; vertical-align: middle; display:inline-block; max-width:150px;}
            .after_bar {content:""; display:inline-block; width:1px; height:10px; vertical-align: middle; margin:0px 10px; background:#e0e0e0;}
            .data {display:inline-block; vertical-align: middle; color:#666666; font-size:14px; font-weight:$font-weight-light; vertical-align: middle;}
            .br {display:block;}
            .btn-icon-right {margin-right:1px;}
            .replay {color:#666666; font-size:14px; font-weight:$font-weight-normal; }
        }
        .custom-control {position:absolute; top:5px; left:5px;}
        .custom-control-label {position:static!important; }
        .heart {position: absolute; right:15px; bottom:15px;z-index: 1;
          img{
            width:18px;height:17px;
          }
            .heart_count{
                color:#666666; font-size:14px; font-weight:$font-weight-normal;
            }
        }

    }
}

/* 3열(게시판형) */
.list-grid-thumbnail-board-3{
    margin:-15px -15px 0;
    .item {float:left; width:30.67%; margin:15px 14px; border-radius: 5px; border:1px solid #e4e4e4; position:relative;

        .link {width:100%; display:block;
            .img {
                // max-width:204px;
              display: block;
              height: 135px;
                border-radius: 5px;
                border-bottom-left-radius: 0px;  border-bottom-right-radius: 0px; text-align:center; overflow: hidden;
                &>img{width:100%; height:100%; }
            }
          .text_box {display:block; padding:10px;background-color: #fff; border-radius: 6px; border-top-left-radius: 0px;  border-top-right-radius: 0px;}
          .title {margin-bottom:8px; font-size:15px; font-weight:$font-weight-light; margin-top:0px; min-height:44px; max-height:44px; overflow:hidden;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;}
            .cate {font-size:13px; color:#418ac9; font-weight:$font-weight-bold; letter-spacing: -0.025em; margin-top:0px; margin-bottom:5px; display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; min-height:20px;}
            .ico_new{width:30px;height:15px;display:inline-block; margin-left:4px;}
            .author_box {margin-bottom:10px; }
            .author {max-width:80%; color:#666666; font-size:14px; font-weight:$font-weight-light; vertical-align: middle; display:inline-block; max-width:150px;}
            .after_bar {content:""; display:inline-block; width:1px; height:10px; vertical-align: middle; margin:0px 10px; background:#e0e0e0;}
            .data {display:inline-block; vertical-align: middle; color:#666666; font-size:14px; font-weight:$font-weight-light; vertical-align: middle;}
            .br {display:block;}
            .btn-icon-right {margin-right:1px;}
            .replay {color:#666666; font-size:14px; font-weight:$font-weight-normal; }
        }
        .custom-control {position:absolute; top:5px; left:5px;}
        .custom-control-label {position:static!important; }
        .heart {position: absolute; right:10px; bottom:10px;z-index: 1;
          img{
            width:18px;height:17px;
          }
            .heart_count{
                color:#666666; font-size:14px; font-weight:$font-weight-normal;
            }
        }

    }
}

/*
|--------------------|
|      썸네일 모양
|--------------------|
*/
/*동그라미*/
.list-grid-circle {
    .item {
        .img{
            /*border-radius: 100%;*/
        }
    }
}

//메인화면 천재교육은 지금 뭐하지? item size
.list-main_now {
    .img {width:230px; height:132px;
        img {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
    }
}

/* ------list-grid END-------*/





.mobile {
  .list-grid-thumbnail-board { margin:0px;
    .item {width:100%; margin:0px; margin-bottom:20px; border:0px;
      .link{
        .img {min-height:180px; height:100%;}
        .text_box {background:white; padding:0px;}
        .cate {padding:20px 20px 0px; font-size:14px;
          .notice {display:inline-block; margin-right:8px;}
        }
        .title {width:100%; font-size:16px; border-bottom:1px solid #e0e0e0; margin-bottom:0px; padding:0px 20px 20px; display:inline-block; min-height:auto!important; max-height:100%; overflow:visible; text-overflow:initial; word-break: keep-all;
          .icon-clip {margin-left:7px;}
          .thumbnail-img {margin-left:7px;}
        }
        .br {display:inline-block;}
        .icon-tpin-gray {display:none;}
        .after_bar {display:none;}
        .author_box {display:inline-block; margin:0px; padding:10px 10px 13px 20px;
          .author {margin-right:10px;}
        }

      }
      .heart {bottom:13px;}
    }

    &.noimage {
      .item {
        .link{
          .text_box {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
          }
        }
      }
    }
  }
}
