/*
|----------------------------------|
 v.0.1 최초 공통화 작업
 v.0.2 reply-box mb0 - 박선미
 v.0.3 reply-box > title -> border-top 제거 (TP2-1647) - 박선미
|----------------------------------|
*/

/* 삭제 */
.reply-box {
  padding: 30px 30px 0;

  .title {
    display: block;
    padding-top: 30px;
    margin-bottom: 10px;
    font-weight: $font-weight-normal;
    font-size: 16px;
  }

  .reply_input {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 0;
    border-bottom: none;

    textarea {
      width: calc(100% - 70px);
      height: 100px;
      background: #fcfcfc;
    }

    .btn {
      position: absolute;
      width: 64px;
      height: 68px;
      right: 0;
      top: 0;
      line-height: 56px;
    }

    .byte {
      position: absolute;
      left: calc(100% - 64px);
      bottom: 0;
      width: 64px;
      text-align: unset;
      font-size: 14px;
    }
  }

  .reply_other {
    position: relative;
    padding: 20px 0 20px 10px;
    margin-top: 0;
    border-top: 1px solid $border-color;

    .name {
      font-weight: unset;
      font-size: unset;
    }

    .author {
      margin-bottom: 10px;
      font-weight: $font-weight-bold;
      font-size: 15px;
      color: #000;

      .date {
        margin-left: 15px;
        font-weight: $font-weight-light;
        color: #676767;
        font-size: 14px;
        letter-spacing: -0.35px;
      }
    }

    .txt {
      margin-top: 0;
      font-size: 15px;
      color: #666;
    }

    .reply_input {
      margin-bottom: 0;
    }

    .output {
      padding-bottom: 10px
    }

    .btns {
      position: absolute;
      right: 0px;
      top: 28px;
      //top: 50%;
      //transform: translateY(-50%);
      //1067 입력된 댓글 내용이 300자일 경우 버튼 위치 중앙에 배치됨
      text-align: right;
      font-size: 0;

      a {
        padding: 5px 15px;
        font-size: 13px;

        + {
          a {
            margin-left: 5px;
          }
        }
      }
    }

    &.output {
      padding-left: 45px;
      background: url(../img/common/ico-reply.png) no-repeat 15px 26px;
    }

  }
}
