/*
|----------------------------------|
 v.0.1 최초 공통화 작업
 v.0.2 .slide-addtional - 교과 부가 이미지 슬라이드 추가 - 한성수
 v.0.3 tp2-1024 수정 
 v.0.4 tp2-1429 수정 .slide-button
|----------------------------------|
*/


@import "../lib/swiper";

.slide-group {position:relative;
    /* 교과학습 내부 아코디언 */
    .title {margin-bottom:20px; padding:0px 30px;}
    .slide {overflow:hidden; text-align:center; position:relative; padding:0 5px; margin:0 15px;
        .type {width:24px; height:24px; position:absolute; background:white; border-radius: 100%; top:75px; left:10px; display:block; content:""; line-height:19px;
          & img {vertical-align: top;}
        }
        .img {width:180px; background:brown; border-radius: 4px; overflow:hidden; margin:0 0px; padding:0 0px;}
        .name {margin-top:15px; display:block; max-height:45px; //tp2-1024
            word-break: keep-all;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .slide-button{
            z-index:10; position:absolute; top:25%; width:25px; height:25px; border:1px solid #e0e0e0; background:#fff; display:block; content:""; border-radius: 100%;
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
            & span:nth-child(1) {display:block; width:6px; height:2px; background:#0c0c0d; }
            & span:nth-child(2) {display:block; width:6px; height:2px; background:#0c0c0d; }
            &.next {
                right:2px;
                & span:nth-child(1) {transform:translate(8.5px,9px) rotate(45deg);}
                & span:nth-child(2) {transform:translate(8.5px,11px) rotate(-45deg);}
            }
            &.prev {
                left:2px;
                & span:nth-child(1) {transform:translate(8.5px,9px) rotate(-45deg);}
                & span:nth-child(2) {transform:translate(8.5px,11px) rotate(45deg);}
            }
            &:active {outline:0px;}
            &:focus {outline:0px;}
        }
    }

    /* 기본 슬라이드 */
    .slide-basic {
        overflow:hidden; text-align:center; position:relative; padding:0 5px; margin:0 15px;
        .img {width:100%;  background:brown; border-radius: 4px; overflow:hidden; margin:0 0px; padding:0 0px;}

        .slide-button{
            z-index:10; position:absolute; top:50%; transform:translateY(-50%); width:25px; height:25px; border:1px solid #e0e0e0; background:#fff; display:block; content:""; border-radius: 100%;
            box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
            & span:nth-child(1) {display:block; width:6px; height:2px; background:#0c0c0d; }
            & span:nth-child(2) {display:block; width:6px; height:2px; background:#0c0c0d; }
            &.next {
                right:2px;
                & span:nth-child(1) {transform:translate(8.5px,9px) rotate(45deg);}
                & span:nth-child(2) {transform:translate(8.5px,11px) rotate(-45deg);}
            }
            &.prev {
                left:2px;
                & span:nth-child(1) {transform:translate(8.5px,9px) rotate(-45deg);}
                & span:nth-child(2) {transform:translate(8.5px,11px) rotate(45deg);}
            }
            &:active {outline:0px;}
            &:focus {outline:0px;}
        }
    }

    &.slide-intro {
        .slide {padding:0; margin:0 30px;}
        .slide-button {
            z-index: 10;
            position: absolute;
            top: 48%;
            transform:translateY(-50%);
            width: 25px;
            height: 25px;
            border: 1px solid #e0e0e0;
            background: #fff;
            display: block;
            content: "";
            border-radius: 100%;

            & span:nth-child(1) {display:block; width:7px; height:1.5px; background:#0c0c0d; border-radius: 5px;}
            & span:nth-child(2) {display:block; width:7px; height:1.5px; background:#0c0c0d; border-radius: 5px;}
            &.prev {
                left:20px;
                & span:nth-child(1) {position:absolute; left:46%; transform:translate(-50%, 8px) rotate(-45deg);}
                & span:nth-child(2) {position:absolute; left:47%; transform:translate(-50%, 12px) rotate(45deg);}
            }
            &.next {
                right:20px;
                & span:nth-child(1) {position:absolute; left:53%; transform:translate(-50%, 8px) rotate(45deg);}
                & span:nth-child(2) {position:absolute; left:53%; transform:translate(-50%, 12px) rotate(-45deg);}
            }
            &:active {outline:0px;}
            &:focus {outline:0px;}
        }

        .img_box {height:110px; overflow:hidden; background:#f5f5f5; display:flex; justify-content: center; align-items: center; border-radius: 5px;
            .img {background:none;height: 100%;width: 100%;}
        }
        .name {font-size:14px; font-weight:$font-weight-light; letter-spacing: -0.025em; margin-top:10px;
        }
    }
  /*---------유치 사용-------*/
  &.slide-four {
    .slide {
      .img {width:180px;}
      .text_box {display:flex; justify-content: center;
        .cate {display:block; }
        .title {display:block;}
      }
    }
  }
  &.slide-experience {
    .slide-button {
      z-index: 10;
      position: absolute;
      top: 50%;
      transform:translateY(-50%);
      width: 25px;
      height: 25px;
      border: 1px solid #e0e0e0;
      background: #fff;
      display: block;
      content: "";
      border-radius: 100%;

      & span:nth-child(1) {display:block; width:6px; height:2px; background:#0c0c0d; }
      & span:nth-child(2) {display:block; width:6px; height:2px; background:#0c0c0d; }
      &.prev {
        left:20px;
        & span:nth-child(1) {transform:translate(8.5px,9px) rotate(-45deg);}
        & span:nth-child(2) {transform:translate(8.5px,11px) rotate(45deg);}
      }
      &.next {
        right:20px;
        & span:nth-child(1) {transform:translate(8.5px,9px) rotate(45deg);}
        & span:nth-child(2) {transform:translate(8.5px,11px) rotate(-45deg);}
      }
      &:active {outline:0px;}
      &:focus {outline:0px;}
    }
    .slide{ margin:30px;
      .swiper-slide {border:1px solid #e0e0e0; border-radius: 5px;}
      .img{display:block; width:178px;height: 110px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
      .text_box { text-align:left; padding:10px; display:block; display: flex; justify-content: space-between; align-items: flex-end;
        .text_box_name {display:block;}
        .cate {display:block; font-size:13px; font-weight :$font-weight-bold; letter-spacing: -0.025em; color:$primary;}
        .title {padding:0; color:#010101; font-size:15px; letter-spacing: -0.025em; font-weight :$font-weight-light;}
      }
    }
  }
  /*-------------------------*/


    //슬라이드 버튼 공통 사항
    .swiper-button-disabled {display:none!important;}

}

.mobile{
  .slide-group{ 
    &.slide-intro {
      .name {font-size:12px; font-weight:$font-weight-light;}
      .slide-button.next {right:4px;}
      .slide-button.prev {left:4px;}
      .img_box {
        height:85.5px;
        .type{width:20px; height:20px; 
          .icon {width:12px; height:12px;}
        }
      }
      .title {font-size:13px; margin-bottom:15px; padding:0px 15px;}
    }
    .slide-button {width:20px; height:20px; top:78px;
      span {height:1px!important;}
      &.next span:nth-child(1){transform:translate(-50%, 6px) rotate(45deg);}
      &.next span:nth-child(2){transform:translate(-50%, 10px) rotate(-45deg);}
      &.prev span:nth-child(1){transform:translate(-50%, 6px) rotate(-45deg);}
      &.prev span:nth-child(2){transform:translate(-50%, 10px) rotate(45deg);}
    }
    
    
    .slide {
      margin:0px 15px;
      
      .type {
        width: 24px;
        height: 24px;
        position: absolute;
        background: white;
        border-radius: 100%;
        top: 57px;
        left: 10px;
        display: block;
        content: "";
        line-height: 19px;
        .icon {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
      }
    }
  }
}

.slide-additional {min-width:1100px; height:100vh; width:100%; background:#181818; overflow:hidden;
  .add_head {padding:0px 20px; background:#222222; height:68px; display:flex; align-items: center; justify-content: space-between;
    .title{font-size:16px; color:#fff; font-weight:$font-weight-bold; 
      /*@include ellipsis(1);*/
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .icon-folder-green{margin-right:10px;}
    }
    ._slide_show_stop{display:none;}
    ._slide_show_exit{display:none; margin-left:2px;}
  }
  .add_body { height:calc(100vh - 218px); transition: height 0.5s;
    .swiper-wrapper { background:#181818;
      .swiper-slide { 
        .gallery-top_img {position:relative; width:100%;height:100%; display:block; 
          img {position:absolute; top:50%; left:50%; transforM:translate(-50%, -50%);}
        }
        
      }
    }
    .swiper-button-prev:after {display:none;}
    .swiper-button-next:after {display:none;}
    .swiper-top-prev {
      width:48px; height:48px; margin-left:30px;
      background-image: url("../img/additional/slide_top_left.png") !important;
      background-repeat:no-repeat;
    }
    
    .swiper-top-next {
      width:48px; height:48px; margin-right:30px;
      background-image: url("../img/additional/slide_top_right.png") !important;
      background-repeat:no-repeat;
    }
    .swiper-pagination{
      width:100%; height:150px; position:absolute; left:50%; bottom:-150px; transform:translateX(-50%); padding-top:98px;
      display:none; opacity: 0; background: linear-gradient(0deg, rgba(0,0,0,0.500437675070028) 0%, rgba(255,255,255,0) 100%);

      .swiper-pagination-bullet {
        width:12px; height:12px; background:white; opacity: 1; transition:width 0.2s; margin:0 10px;
        &.swiper-pagination-bullet-active {width:24px; border-radius: 35px; }
      }
    }
  }
  .add_foot {background:#333333; padding:20px; position:relative; 
    .add_foot_slide_wrap {height:110px; margin:0 auto;  /* max-width:1033px;*/ 
      .swiper-wrapper {
        .swiper-slide{
          color:white; text-align:center; font-size:13px; font-weight:$font-weight-light;
          .gallery-foot_img { margin-bottom:7px;
            img{height:67px;}
          }
          &.current {
            .gallery-foot_img {
              &:after {display:block; content:""; widtH:100%; height:67px; position:absolute; top:0; left:0; border:3px solid #418ac9; }
            }  
          }
          .name {
            /* @include ellipsis(2); */ 
            word-break: keep-all;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-break: keep-all;
            
          }
        }
      }
      .thumbs-arrow {
        width:100%; height:100%; position:absolute; bottom:0; left:0; z-index:0;
      }
        .swiper-button-prev:after {display:none;}
        .swiper-button-next:after {display:none;}
        .swiper-thumbs-prev {
          width:40px; height:100%; left:0; top:22px; cursor: pointer; z-index:2;
          background-color:#222222 ;
          background-image: url("../img/additional/slide_thumbs_left.png") !important;
          background-repeat:no-repeat;
          background-position:center center;
          &:focus {outline:0px;}
        }
        
        .swiper-thumbs-next {
          width:40px; height:100%; right:0; top:22px; 
          background-color:#222222 ;
          background-image: url("../img/additional/slide_thumbs_right.png") !important;
          background-repeat:no-repeat;
          background-position:center center;
          &:focus {outline:0px;}
        }
    }
  }
}