/**
|------------------------------------------|
|      component : variabl.scss
|------------------------------------------|
*/


$white: #ffffff;
$black: #000000;
$primary: #418ac9;
$orange: #ff7e00;
$red: #ff6652;
$gray-1: #333333;
$gray-2: #666666;
$gray-3: #9a9a9a;
$gray-4: #8a909e;
$gray-5: #a7a7a7;
$gray-6: #e0e0e0;
$gray-7: #cccccc;
$gray-8: #f6f7f8;
$gray-9: #f0f3f7;
$gray-10: #fcfcfc;
$gray-11: #f5f5f5;
$gray-12: #999999;
$gray-13: #bbbbbb;
$gray-14: #efefef;
$gray-15: #f7f7f7;
$gray-16: #c7c7c7;
$gray-17: #ececec;
$gray-18: #fbfbfb;


$body-color: $black !default;
$border-color: $gray-6;
$link-color: $body-color!default;
$coolgray: #8991a3;

$success:       $black !default;

$link-hover-decoration:  none !default;
$spacer : 3rem;

$font-family-sans-serif: 'NotoSansKR', 'Nanum Gothic', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:  'Nanum Gothic', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;


$font-weight-light:           350 !default; //regular
$font-weight-normal:          450 !default; //mediaum
$font-weight-bold:            550 !default;
$font-weight-base:            $font-weight-light !default;





