/*
|-----------------------------------------------------------------------|
|    컨퍼넌트 공통관리 버전 :  v1.0.54
|
|    [history]
|     - v1.0.1 : 한성수 : 슬라이드, 아이콘, 아코디언, 버튼, 모달, 유틸 추가
|     - v1.0.2 : 박선미 : 버튼(border 제거), 아이콘(.icon-book) 추가
|     - v1.0.3 : 박선미 : button , notice , reply , table 수정및 추가
|     - v1.0.4 : 한성수 : table 모바일 추가
|     - v1.0.5 : 한성수 : button 모바일 추가
|     - v1.0.6 : 박선미 : 모바일 - 아코디언(.column-grid 안쪽),탭(.sub-tab) 수정
|     - v1.0.7 : 박선미 : 게시글더보기 swiper추가 (비디오) / $gray-17: #ececec; $gray-18: #fbfbfb; 추가
|     - v1.0.8 : 박선미 : form (TP2-58 체크박스 아이콘 무늬 제거) 추가 /  accordion (overflow: hidden) 추가, .column-grid.title (마진조정)
|     - v1.0.9 : 박선미 : accordion (.list-accordion border-color #e0e0e0 -> #cccccc 수정), tab (.sub-tab 패딩 수정)
|     - v1.0.10 : 박선미 : notice - v.0.3 , form - v.0.5 , accordion - v 0.7
|     - v1.0.11 : 고태윤 : icon -> .icon-img-gray 추가
|     - v1.0.12 : 박선미 : icon -> .icon-question-sm 추가
|     - v1.0.13 : 박선미 : accordion - v0.8 , form - v0.6 ,button - v0.8
|     - v1.0.14 : 한성수 : pagination 모바일 추가
|     - v1.0.15 : 박선미 : modal-dialog before 추가 / form(모바일) - 체크박스 화살표 수정
|     - v1.0.16 : 한성수 : .list-accordion + common.js 변경 (아코디언 라인 변경)
|     - v1.0.17 : 한성수 : .list-accordion .item .item_body .sub_item 마지막 라인 제거
|     - v1.0.18 : 한성수 : m > .list-accordion border-radius 10px 로 변경
|     - v1.0.19 : 한성수 : 모바일 - .half-box 마진여백 변경
|     - v1.0.20 : 박선미 : 첨부파일 삭제버튼(공통)
|     - v1.0.21 : 박선미 : list-grid-thumbnail-board > item (border-radius 수정) > text_box (padding 수정)
|     - v1.0.22 : 박선미 : 메인페이지 아이콘 사이즈 고정 제거
|     - v1.0.23 : 한성수 : accordion.scss > .list-accordion 변경
|     - v1.0.24 : 박선미 : icon-basket 아이콘 사이즈 고정 제거
|     - v1.0.25 : 한성수 : list.scss -> item border:0.5px -> 1px 변경
|     - v1.0.26 : 한성수 : loign.scss 생성
|     - v1.0.27 : 박선미 : list-grid-thumbnail > item (margin 8.67px -> 8.66px 수정) ie작업
|     - v1.0.28 : 한성수 : tp2-1024 수정 , [위치] accordion, slider
|     - v1.0.29 : 한성수 : tp2-812 수정, [위치] button, form
|     - v1.0.30 : 한성수 : accordion z-index 변경
|     - v1.0.31 : 한성수 : .list -> cate min-hiehgt:20 수정
|     - v1.0.32 : 박선미 : gnb 검색창 아이콘 /사이즈 변경
|     - v1.0.33 : 박선미 : 모바일 - 페이지네이션(v.0.3) 간격 수정(TP2-1108)
|     - v1.0.34 : 박선미 : form.scss - v.0.10 .was-validated 수정 / variables.scss - $success:$black; / pagination.scss - (m)화살표이미지 변경 v.0.3 - 선미
/     - v1.0.35 : 고태윤 : 모바일 - input 클릭시 outline제거 (tp2-812), T-component에 bootstrap-datepicker3 추가
|     - v1.0.36 : 한성수 : accordion.scss 팝업아코디언 item head 변경, icon.scss -> arrow-circle 수정 , &.title_single {margin-bottom:0px;}
/     - v1.0.37 : 고태윤 : table.scss .day 마진값 변경
|     - v1.0.38 : 한성수 : accrodion new class 추가
|     - v1.0.39 : 박선미 : table.scss(v.0.6) .table > td > .no-data 패딩 수정
|     - v1.0.40 : 한성수 : accordion.scss 변경
|     - v1.0.41 : 박선미 : modal.scss .close 버튼 top값 추가(ie - TP2-1296)
|     - v1.0.42 : 고태윤 : tabs.scss - mobile -> &tab-list-13 (border 이슈 해결) - 고태윤
|     - v1.0.43 : 고태윤 : pagination.scss -> mobile 중앙정렬 - 고태윤
|     - v1.0.44 : 박선미 : util.scss v0.1.4 -> no-data 공통화작업 - 박선미
|     - v1.0.45 : 한성수 : accordion.scss
|     - v1.0.46 : 고태윤 : pagination.scss // 페이지네이션 2번째꺼 선택시 붙는 이슈 해결
|     - v1.0.47 : 한성수 : slider.scss
|     - v1.0.48 : 한성수 : accordion.scss
|     - v1.0.49 : 한성수 : reply.scss -> title영역 border제거
|     - v1.0.50 : 한성수 : buttons.scss
|     - v1.0.51 : 박선미 : modal.scss -> 모바일 : footer 안에 half-box{line-height:1}
|     - v1.0.52 : 한성수 : accordion.scss //tp2-1704 :: 간섭으로 인해 a를 고유하게 변경
|     - v1.0.53 : 박선미 : accordion.scss / modal.scss : .mobile -> active,focus (차시명,과목명 언더라인 추가)
|     - v1.0.54 : 박선미 : accordion.scss / .body_head -> margin-bottom 1px 추가(TP2-1784 : border 클릭시 border 사라짐 이슈)
|-----------------------------------------------------------------------|
*/

//reset
@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

/*@import "fonts/Nanum";*/
@import "../fonts/NotoSansKR";

//component
@import "reboot";
@import "button";
@import 'form';
@import "icon";
@import "list";
@import "modal";
@import "pagination";
@import "slider";
@import "tabs";
@import "video";
@import "notice";
@import "reply";
@import "table";
@import "util";
@import "wing";
@import "accordion";
@import "font";
@import "badge";
@import "login";

@import "../lib/jquery.mCustomScrollbar";
